*.s01
*.txt
*.xlsx
*.z
*.zip
*.log
*.exe
*.toc
*.dll
*.pkg
*.pyd
*.xls
*.sec
*.dvi
*.rar
*.jpg
*.gif
Article/pic/wxpay.png
*.hdf5
PySPH/damp_output/damp.info
*.npz
*.msi
*.asc
PySPH/sph.vtk.gz
*.info
*.pyz
*.pak
*.gz
SIMDOpt/simpleCUFFT.cu
*.sln
SIMDOpt/simpleCUFFT_vs2015.VC.db
*.vcxproj
SIMDOpt/simpleCUFFT_vs2015.vcxproj.filters
*.hash10
WaveReconize/s282015337.hash10
*.hash10
*.template10